@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@layer components {
  .login-container {
    @apply flex h-screen w-full items-center justify-center bg-[#1E2733] border-0;
  }

  .login-card {
    @apply absolute top-[314px] w-[365px] text-white rounded-[4px] border-0;
  }

  .login-content {
    @apply space-y-4 h-[203px] border-0;
  }

  .login-title {
    @apply font-montserrat text-[21.52px] leading-[28.23px] text-left pb-8;
  }

  .custom-input {
    @apply bg-slate-800 text-white font-montserrat font-semibold border-0 pt-4 pb-1 px-4 w-full h-[60px] placeholder-transparent focus:ring-0;
  }

  .floating-label {
    @apply absolute left-4 top-4 text-gray-400 text-sm transition-all 
    peer-placeholder-shown:text-base peer-placeholder-shown:top-4 
    peer-focus:-top-1 peer-focus:text-xs;
  }

  .confirm-button {
    @apply w-full bg-orange-500 hover:bg-orange-600 h-[47px] rounded-md;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-color: #1E2733;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  input {
    @apply bg-transparent;
  }

  body {
    @apply text-foreground;
  }
}
